<?xml version="1.0"?>
<config>
    <modules>
        <Aroma_Gift>
            <version>0.1.0</version>
        </Aroma_Gift>
    </modules>
    <frontend>
        <routers>
            <gift>
                <use>standard</use>
                <args>
                    <module>Aroma_Gift</module>
                    <frontName>gift</frontName>
                </args>
            </gift>
        </routers>
        <layout>
            <updates>
                <gift>
                    <file>gift.xml</file>
                </gift>
            </updates>
        </layout>
    </frontend>
	<admin>
		<routers>
			<gift>
				<use>admin</use>
				<args>
					<module>Aroma_Gift</module>
					<frontName>admin_gift</frontName>
				</args>
			</gift>
		</routers>
	</admin>	
    <global>
		<resources>
            <gift_setup>
                <setup>
                    <module>Aroma_Subscription</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </gift_setup>
            <gift_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </gift_write>
            <gift_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </gift_read>
        </resources>
		<blocks>
            <aroma_gift>
                <class>Aroma_Gift_Block</class>
            </aroma_gift>
        </blocks>
	</global>
	<default>
        <gift>
            <gift>
                <show>1</show>
			</gift>
        </gift>
    </default>
</config>
