<?xml version="1.0"?>
    <config>
        <modules>
            <Aroma_Statuschange>
                <version>0.1.1</version>
            </Aroma_Statuschange>
        </modules>
		<global>
			<models>
                <statuschange>
                    <class>Aroma_Statuschange_Model</class>
                    <resourceModel>statuschange_mysql4</resourceModel>
                </statuschange>
                <statuschange_mysql4>
                    <class>Aroma_Statuschange_Model_Mysql4</class>
                    <entities>
                        <statuschange>
                            <table>eav_subscription`</table>
                        </statuschange>
                    </entities>
                </statuschange_mysql4>
            </models>
			<helpers>
            <statuschange>
                <class>Aroma_Statuschange_Helper</class>
            </statuschange>
	        </helpers>
            <events>
				<sales_order_save_commit_after>
                <observers>
                    <aroma_statuschange>
                        <type>singleton</type>
                        <class>statuschange/observer</class>
                        <method>cusinvoicedStatusChange</method>
                    </aroma_statuschange>
                </observers>
            </sales_order_save_commit_after>
            </events> 
			<template>
            <email>
                <statusmail_processing_email_template translate="label">
                    <label>Status Mail Invoice</label>
                    <file>statusmail_processing.html</file>
                    <type>html</type>
                </statusmail_processing_email_template>
            </email>
        </template>
            <resources>
                <statuschange_setup>
                    <setup>
                        <module>Aroma_Statuschange</module>
                    </setup>
                    <connection>
                        <use>core_setup</use>
                    </connection>
                </statuschange_setup>
                <statuschange_write>
                    <connection>
                        <use>core_write</use>
                    </connection>
                </statuschange_write>
                <statuschange_read>
                    <connection>
                        <use>core_read</use>
                    </connection>
                </statuschange_read>
            </resources>
        </global>
</config>
