<?xml version="1.0"?>
<config>
    <modules>
        <Aroma_Subscription>
            <version>0.1.0</version>
        </Aroma_Subscription>
    </modules>
    <frontend>
        <routers>
            <subscription>
                <use>standard</use>
                <args>
                    <module>Aroma_Subscription</module>
                    <frontName>coffee-subscription</frontName>
                </args>
            </subscription>
        </routers>
        <layout>
            <updates>
                <subscription>
                    <file>subscription.xml</file>
                </subscription>
            </updates>
        </layout>
    </frontend>
	<admin>
		<routers>
			<subscription>
				<use>admin</use>
				<args>
					<module>Aroma_Subscription</module>
					<frontName>admin_subscription</frontName>
				</args>
			</subscription>
		</routers>
	</admin>
	<adminhtml>
		<menu>
			<subscription module="subscription">
				<title>Subscription</title>
				<sort_order>100</sort_order>
				<children>
					<subscription module="subscription">
						<title>Payment Plans</title>
						<sort_order>0</sort_order>
						<action>admin_subscription/adminhtml_index</action>
					</subscription>
					<list module="subscription">
						<title>List</title>
						<sort_order>0</sort_order>
						<action>admin_subscription/adminhtml_list</action>
					</list>
				</children>
			</subscription>
		</menu>
	</adminhtml>	
    <global>
		<models>
            <subscription>
                <class>Aroma_Subscription_Model</class>
                <resourceModel>subscription_mysql4</resourceModel>
            </subscription>
            <subscription_mysql4>
                <class>Aroma_Subscription_Model_Mysql4</class>
				<entities>
					 <paymentplan>
                        <table>payment_plan</table>
                    </paymentplan>
					<subscription>
                        <table>eav_subscription</table>
                    </subscription>
					<suborderdate>
						<table>sub_order_date</table>	
					</suborderdate>
                </entities>
            </subscription_mysql4>
        </models>
		<resources>
            <subscription_setup>
                <setup>
                    <module>Aroma_Subscription</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </subscription_setup>
            <subscription_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </subscription_write>
            <subscription_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </subscription_read>
        </resources>
		<helpers>
			<subscription>
				<class>Aroma_Subscription_Helper</class>
			</subscription>
		</helpers>
		<blocks>
            <aroma_subscription>
                <class>Aroma_Subscription_Block</class>
            </aroma_subscription>
        </blocks>
	</global>
	<default>
        <subscription>
            <subscription>
                <show>1</show>
			</subscription>
        </subscription>
    </default>
</config>