<?xml version="1.0"?>
<config>
    <modules>
        <Aroma_Subscription>
            <version>0.1.0</version>
        </Aroma_Subscription>
    </modules>
    <frontend>
        <routers>
            <subscription>
                <use>standard</use>
                <args>
                    <module>Aroma_Subscription</module>
                    <frontName>coffee-subscription</frontName>
                </args>
            </subscription>
        </routers>
        <layout>
            <updates>
                <subscription>
                    <file>subscription.xml</file>
                </subscription>
            </updates>
        </layout>
    </frontend>
    <global>
        <models>
            <subscription>
                <class>Aroma_Subscription_Model</class>
                <resourceModel>subscription_mysql4</resourceModel>
            </subscription>
            <subscription_mysql4>
                <class>Aroma_Subscription_Model_Mysql4</class>
                <entities>
                    <subscription>
                        <table>eav_subscription</table>
                    </subscription>
                </entities>
            </subscription_mysql4>
        </models>
        <resources>
            <subscription_setup>
                <setup>
                    <module>Aroma_Subscription</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </subscription_setup>
            <subscription_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </subscription_write>
            <subscription_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </subscription_read>
        </resources>
        <blocks>
            <subscription>
                <class>Aroma_Subscription_Block</class>
            </subscription>
        </blocks>
        <helpers>
            <subscription>
                <class>Aroma_Subscription_Helper</class>
            </subscription>
        </helpers>
    </global>
</config>